#trackModal {
    position: absolute; 
    display: flex; 
    z-index: 2;
    background-color: white; 
    align-items: center;
    top: 30%;
    left: 50%;
    border: 2px black solid;
    opacity: 0;
    padding: 10px;
    transition: opacity 0.1s ease-in-out;
}

#trackModal > p{
    text-align: center;
}

.fade-in {
    opacity: 1;
}