#trackModal {
    position: absolute; 
    display: flex; 
    z-index: 2;
    background-color: white; 
    align-items: center;
    top: 30%;
    left: 50%;
    border: 2px black solid;
    opacity: 0;
    padding: 10px;
    transition: opacity 0.1s ease-in-out;
}

#trackModal > p{
    text-align: center;
}

.fade-in {
    opacity: 1;
}



.inputfile {
    display: none;
}

.custom-button {
    cursor: pointer;
    padding: 5px 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: white;
}
.custom-button img {
    width: 20px; 
    height: 20px; 
    vertical-align: middle;
}
.custom-button:hover {
    background-color: #f0f0f0;
}

.custom-button:active {
    background-color: #e0e0e0;
}
.custom-button > label{
    cursor: pointer;
}



.user-info{    
    top: 1%;
    right: 5%;
    position: absolute;
    padding-top: 10px;
    padding-bottom: 20px;
    display: none;
    background-color: white;
    width: 200px;
    border: 1px solid black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    z-index: 2;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.user-info > .close-user-info{
    position: relative;
    left: 73px;
    cursor: pointer;
}

.side-tools img {
    width: 20px;
    height: 20px;
}

.side-tools{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 1%;
    top: 1%;
    z-index: 3;
}

.side-tools > img, .side-tools > form {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.user-image{
    width: 40px !important;
    height: 40px !important;
    background-color: white;
    border-radius: 100%;
    cursor: pointer;
}

.custom-dialog{
    top: 1%;
    background-color: white;
    position: absolute;
    right: 5%;
    display: none;
    border: 1px solid black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    z-index: 2;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    width: 90%;
    padding-bottom: 20px;

}

.custom-dialog > table{
    width: 90%;
}

table td{
    text-align: center;
}

.custom-dialog > .close-table-icon{
    position: relative;
    right: -47%;
    top: 15px;
    cursor: pointer;
}

#map{
    z-index: 1;
    width: 100vw;
    height: 100vh;
}
 
body{
    margin: 0px;
}


#alertBox {
    flex-direction: column;
    position: fixed;
    display: none;
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    align-items: center;
}

/* Styling for the header */
#alertBox h2 {
    margin-top: 0;
}

/* Styling for the countdown bar */
#progressBar {
    background-color: #007bff;
    height: 5px;
    width: 100%;
    border-radius: 5px;
    animation: progressBarAnimation 3s linear forwards;
}

@keyframes progressBarAnimation {
    0% { width: 100%; }
    100% { width: 0%; }
}

.custom-table{
    width: 100%;
    border-collapse: collapse;
}

.custom-table th, .custom-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.custom-table tr:nth-child(even){
    background-color: #f2f2f2; /* even rows */
}

.custom-table th{
    font-size: 20px;
}

* {
    font-family: "Your Font", sans-serif; /* Change "Your Font" to the desired font family */
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  .switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }